<div class="container">
    <div class="author">
        <h1>Hi, I am Mathavan</h1>
        <p>Web developer and content creator</p>
    </div>
    <div class="author_image animated-image">
        <img src="/images/mathavan.jpeg" alt="mathavan">
    </div>

    <div class="author_body">
        <section>
            <h2>Latest posts</h2>
            <ul class="article-posts">
                <li><a href="#"><span>Post Title 1</span> <span>Date</span></a></li>
                <li><a href="#"><span>Post Title 2</span> <span>Date</span></a></li>
                <li><a href="#"><span>Post Title 3</span> <span>Date</span></a></li>
                <!-- Add more posts as needed -->
            </ul>
            <a href="#" class="view">View More</a>
        </section>

        <!-- Pagination Section -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>